@charset "UTF-8";

body {
    background-color: #f8b0c6
}

p {
    color: #522639;
}

ul {
    background-color: #a57971;
}

li {
    color: #522639;
}

h1 {
    color: #522639;
    background-color: #a57971;
}

h2 {
    color: #522639;
    background-color: #a57971;
}

h3 {
    color: #522639;
    background-color: #a57971;
}

a {
    color: #522639;
}